@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #111112;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

button:hover,
button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'SaansTRIAL-Medium';
  src:
    local('SaansTRIAL-Medium'),
    url('../fonts/SaansTRIAL-Medium.woff') format('woff');
}

@font-face {
  font-family: 'SaansTRIAL-Medium';
  src:
    local('SaansTRIAL-Medium'),
    url('../fonts/SaansTRIAL-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SaansTRIAL-Regular';
  src:
    local('SaansTRIAL-Regular'),
    url('../fonts/SaansTRIAL-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SaansTRIAL-Regular';
  src:
    local('SaansTRIAL-Regular'),
    url('../fonts/SaansTRIAL-Regular.woff2') format('woff2');
}

.bg-alpha {
  background: rgba(37, 36, 36, 1);
}

@layer components {
  .global-margin {
    @apply container mx-auto max-w-[1200px] px-4;
  }

  .heading-7xl {
    @apply font-SaansRegular text-7xl leading-16;
  }

  .heading-5xl {
    @apply font-SaansRegular text-4xl leading-13;
  }

  .heading-5xl-Reg {
    @apply font-SaansRegular text-5xl leading-14;
  }

  .nav-xl {
    @apply font-SaansRegular text-xl leading-[1.2em];
  }

  .nav-2xl {
    @apply font-SaansMed text-2xl;
  }

  .p-4xl-medium {
    @apply font-SaansMed text-4xl leading-14;
  }

  .p-3xl-regular {
    @apply font-SaansRegular text-3xl leading-13;
  }

  .p-xl-regular {
    @apply font-SaansRegular text-xl leading-[1.6em];
  }

  .p-xl-medium {
    @apply font-SaansMed text-xl leading-12;
  }

  .p-3xl {
    @apply font-SaansRegular text-xl leading-12;
  }

  .studio {
    @apply bg-gradient-to-b from-[#000] to-[#292929];
  }

  .t1 {
    @apply relative;
  }

  .t2 {
    @apply sticky md:top-0;
  }

  @media (max-width: 1440px) {
    .t2 {
      top: -10vh;
    }
  }

  .t3 {
    @apply relative mt-[224rem];
  }
}

.studio-layer {
  background-color: rgba(33, 33, 33, 0.6);
}

.backdrop-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); /* Keep flat in 2D */
  backdrop-filter: blur(22.5px); /* Apply filter */
}

.shadow-layer {
  filter: drop-shadow(0px 40px 80px rgba(17, 17, 18, 0.9));
}

.heading_animate {
  transition: 0.3s ease-in-out;
}

.text_animate {
  transition: 0.3s ease-in-out;
  transform-origin: center;
}

::selection {
  background: #a28cc6;
  color: white;
}

hr {
  background-color: #333333;
  height: 1px;
  border: 0;
}

.shadow-footer {
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
}

.rotatae90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap;
  overflow: hidden;
}
