@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #111112;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

button:hover,
button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'SaansTRIAL-Medium';
  src:
    local('SaansTRIAL-Medium'),
    url('../fonts/SaansTRIAL-Medium.woff') format('woff');
}

@font-face {
  font-family: 'SaansTRIAL-Medium';
  src:
    local('SaansTRIAL-Medium'),
    url('../fonts/SaansTRIAL-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SaansTRIAL-Regular';
  src:
    local('SaansTRIAL-Regular'),
    url('../fonts/SaansTRIAL-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SaansTRIAL-Regular';
  src:
    local('SaansTRIAL-Regular'),
    url('../fonts/SaansTRIAL-Regular.woff2') format('woff2');
}

.bg-alpha {
  background: rgba(37, 36, 36, 1);
}

@layer components {
  .global-margin {
    @apply container mx-auto max-w-[1200px] overflow-x-hidden px-5 sm:overflow-x-visible md:px-0;
  }

  .heading-7xl {
    @apply font-SaansRegular text-7xl leading-16;
  }

  .heading-4xl {
    @apply font-SaansRegular text-4xl leading-13;
  }

  .heading-5xl-Reg {
    @apply font-SaansRegular text-5xl leading-14;
  }

  .nav-xl {
    @apply font-SaansRegular text-xl leading-[1.2em];
  }

  .nav-2xl {
    @apply font-SaansMed text-2xl;
  }

  .p-4xl-medium {
    @apply font-SaansMed text-4xl leading-14;
  }

  .p-3xl-regular {
    @apply font-SaansRegular text-3xl leading-13;
  }

  .p-xl-regular {
    @apply font-SaansRegular text-xl leading-[1.6em];
  }

  .p-xl-medium {
    @apply font-SaansMed text-xl leading-12;
  }

  .p-lg-regular {
    @apply font-SaansRegular text-lg leading-12;
  }

  .p-3xl {
    @apply font-SaansRegular text-xl leading-12;
  }

  .p-body2 {
    @apply font-SaansRegular text-[20.12px] leading-[29.99px];
  }

  .studio {
    @apply bg-gradient-to-b from-[#000] to-[#292929];
  }

  .t1 {
    @apply relative;
  }

  .t2 {
    @apply sticky;
    top: calc(50% - 500px);
  }

  .t3 {
    @apply relative mt-[233rem];
  }
}

.studio-layer {
  background-color: rgba(33, 33, 33, 0.6);
}

.backdrop-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); /* Keep flat in 2D */
  backdrop-filter: blur(22.5px); /* Apply filter */
}

.shadow-layer {
  filter: drop-shadow(0px 40px 80px rgba(17, 17, 18, 0.9));
}

.heading_animate {
  transition: 0.3s ease-in-out;
}

.text_animate {
  transition: 0.3s ease-in-out;
  transform-origin: center;
}

::selection {
  background: #a28cc6;
  color: white;
}

hr {
  background-color: #333333;
  height: 1px;
  border: 0;
}

.shadow-footer {
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
}

.rotatae90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap;
  overflow: hidden;
}

.imagecarousel {
  position: relative;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

/* Optional styling for images inside */
.imagecarousel .img {
  width: 100%;
  display: block;
}

.img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.imagecarousel .img:not(:first-child) {
  margin-left: -100%;
}

.imagecarousel .img:first-child {
  -webkit-animation: slide 5s infinite alternate;
  animation: slide 5s infinite alternate;
  -o-animation: slide 5s infinite alternate;
  -moz-animation: slide 5s infinite alternate;
  
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-duration: 5s;
  animation-delay: 1s;
  -wekbkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@-moz-keyframes slide {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
    repeat scroll transparent\9; /* ie fallback png background image */
  z-index: 9999;
}

.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #7D7D7D;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 810px) and (max-width: 1070px) {
  .matirx-break {
    @apply grid h-[550vh] grid-cols-1 justify-items-center;
  }

  .matirx-justify {
    @apply justify-self-center;
  }

  .side-display {
    @apply hidden;
  }

  .logo-w {
    @apply w-full;
  }

  .nav-btn {
    @apply flex;
  }
  .page-grid {
    @apply flex flex-col items-center justify-center;
  }
  .teams-grid {
    @apply items-start justify-center;
  }
  .people-grid {
    @apply items-center justify-center;
  }
  .people-detail {
    @apply hidden;
  }
  .initiative-grid {
    @apply flex-col items-center justify-center;
  }

  .meta-data {
    @apply w-[690px] flex-row items-start justify-center;
  }
  .meta-mobile {
    @apply block;
  }
  .initiative-pg {
    @apply flex-col items-center justify-center;
  }

  .ini-list-grid {
    @apply w-[690px] grid-cols-1;
  }

  .feed-w {
    @apply w-[690px];
  }

  .feed-grid {
    @apply w-[690px] items-center justify-center;
  }

  .feed-item-img {
    @apply w-[240px];
  }

  .feed-item-img-inner {
    @apply h-[140px] w-full;
  }

  .feed-item-details {
    @apply h-[210px] w-[430px];
  }

  .project-back {
    @apply block;
  }
}

@media (min-width: 1070px) {
  .matirx-break {
    @apply grid grid-cols-12;
  }
  .matirx-justify {
    @apply justify-self-end;
  }

  .side-display {
    @apply block;
  }

  .logo-w {
    @apply w-auto;
  }
  .nav-btn {
    @apply hidden;
  }
  .page-grid {
    @apply grid grid-cols-12;
  }

  .teams-grid {
    @apply items-center justify-end;
  }

  .people-grid {
    @apply items-start justify-between;
  }

  .people-detail {
    @apply sticky flex;
  }

  .initiative-grid {
    @apply flex-row items-start justify-between;
  }
  .meta-data {
    @apply w-full flex-col justify-start;
  }
  .meta-mobile {
    @apply hidden;
  }
  .initiative-pg {
    @apply flex-col items-start justify-start;
  }

  .ini-list-grid {
    @apply w-full grid-cols-2;
  }

  .ini-list-border {
    @apply last:border-b-[0.5px] odd:border-r-[0.5px] odd:pr-[34px] even:pl-[34px] [&:nth-last-child(2)]:border-b-[0.5px];
  }

  .feed-w {
    @apply w-full;
  }

  .feed-grid {
    @apply w-full items-center justify-center;
  }

  .feed-item-img {
    @apply w-[470px];
  }
  .feed-item-img-inner {
    @apply h-[266px] w-[470px];
  }

  .feed-item-details {
    @apply h-[340px] w-[690px];
  }

  .project-back {
    @apply hidden;
  }

  .meta-data-border {
    @apply w-[380px] border-y border-y-[#353535];
  }
}

@media (max-width: 810px) {
  .side-display {
    @apply hidden;
  }
  .logo-w {
    @apply w-full;
  }
  .nav-btn {
    @apply hidden;
  }
  .page-grid {
    @apply flex flex-col items-center justify-center;
  }
  .teams-grid {
    @apply items-start justify-center;
  }
  .people-grid {
    @apply items-center justify-center;
  }
  .people-detail {
    @apply hidden;
  }
  .initiative-grid {
    @apply flex-col items-center justify-center;
  }
  .meta-data {
    @apply w-full flex-row items-start justify-center;
  }
  .meta-mobile {
    @apply block;
  }
  .initiative-pg {
    @apply flex-col items-center justify-center;
  }

  .ini-list-grid {
    @apply w-full grid-cols-1;
  }

  .feed-w {
    @apply w-full;
  }

  .feed-grid {
    @apply w-full items-start justify-between;
  }

  .feed-item-img {
    @apply w-full;
  }
  .feed-item-img-inner {
    @apply h-full w-full;
  }

  .feed-item-details {
    @apply h-[210px] w-full;
  }
  .project-back {
    @apply block;
  }
}
