@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #161617;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'FKGroteskTrial-Regular';
  src:
    local('FKGroteskTrial-Regular'),
    url('../fonts/FKGroteskTrial-Regular.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Medium';
  src:
    local('FKGroteskTrial-Medium'),
    url('../fonts/FKGroteskTrial-Medium.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Light';
  src:
    local('FKGroteskTrial-Light'),
    url('../fonts/FKGroteskTrial-Light.otf') format('otf');
}

@font-face {
  font-family: 'PPNeueMontreal-Book';
  src:
    local('PPNeueMontreal-Book'),
    url('../fonts/PPNeueMontreal-Book.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Light';
  src:
    local('PPNeueMontreal-Medium'),
    url('../fonts/PPNeueMontreal-Medium.otf') format('otf');
}

.threeD {
  transform: rotateX(55deg) rotateY(0) rotateZ(45deg) scale3d(1, 1, 1);
  transform-style: preserve-3d;
}

.animate {
  animation: threeDAnimate;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-timing-function: ease-in-out;

  animation-name: threeDAnimate;
  -webkit-animation-name: threeDAnimate;
  -webkit-animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes threeDAnimate {
  to {
    transform: rotateX(0) rotateY(0) rotateZ(0);
    top: 0;
  }
}

.bg-alpha {
  background: rgba(37, 36, 36, 1);
}

@layer components {
  .heading-7xl {
    @apply font-PPbook text-7xl leading-16;
  }

  .heading-5xl {
    @apply font-PPbook text-5xl leading-14;
  }

  .nav-2xl {
    @apply font-PPmedium text-2xl;
  }

  .p-3xl {
    @apply font-PPbook text-3xl leading-13;
  }

  .arcs-left {
    @apply bg-[#595959] !important;
  }

  .labs-top {
    @apply bg-[#595959] !important;
  }

  .studio {
    @apply border-4 border-[#666666] opacity-70;
    @apply bg-gradient-to-b from-[#000] to-[#292929];
  }

  .studio-bg-gradient {
    @apply bg-gradient-to-b from-[#000] to-[#292929];
  }

  .studio-rm-bg {
    @apply bg-transparent !important;
  }

  .studioBg {
    @apply bg-[#595959] !important;
  }

  .t2 {
    @apply sticky top-[12%];
  }

  .t1 {
    @apply relative;
  }

  .t3 {
    @apply relative top-[30rem];
  }

  .capability-base {
    @apply z-30;
  }

  .capability-active {
    @apply z-[60];
  }

  .capability-hidden {
    @apply opacity-0;
  }
}

.capability-bg {
  background: rgb(63, 59, 45);
  background: linear-gradient(
    90deg,
    rgba(63, 59, 45, 1) 0%,
    rgba(81, 88, 79, 1) 20%,
    rgba(72, 83, 67, 1) 40%,
    rgba(65, 71, 80, 1) 60%,
    rgba(49, 35, 45, 1) 80%,
    rgba(69, 69, 69, 1) 100%
  );
}
