@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #111112;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

button:hover,
button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'FKGroteskTrial-Regular';
  src:
    local('FKGroteskTrial-Regular'),
    url('../fonts/FKGroteskTrial-Regular.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Medium';
  src:
    local('FKGroteskTrial-Medium'),
    url('../fonts/FKGroteskTrial-Medium.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Light';
  src:
    local('FKGroteskTrial-Light'),
    url('../fonts/FKGroteskTrial-Light.otf') format('otf');
}

@font-face {
  font-family: 'PPNeueMontreal-Book';
  src:
    local('PPNeueMontreal-Book'),
    url('../fonts/PPNeueMontreal-Book.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Light';
  src:
    local('PPNeueMontreal-Light'),
    url('../fonts/PPNeueMontreal-Medium.otf') format('otf');
}

@font-face {
  font-family: 'SaansTRIAL-Medium';
  src:
    local('SaansTRIAL-Medium'),
    url('../fonts/SaansTRIAL-Medium.woff') format('woff');
}

@font-face {
  font-family: 'SaansTRIAL-Medium';
  src:
    local('SaansTRIAL-Medium'),
    url('../fonts/SaansTRIAL-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SaansTRIAL-Regular';
  src:
    local('SaansTRIAL-Regular'),
    url('../fonts/SaansTRIAL-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SaansTRIAL-Regular';
  src:
    local('SaansTRIAL-Regular'),
    url('../fonts/SaansTRIAL-Regular.woff2') format('woff2');
}

.bg-alpha {
  background: rgba(37, 36, 36, 1);
}

@layer components {
  .global-margin {
    @apply max-w-[1280px];

    @apply mx-auto;
  }

  .heading-7xl {
    @apply font-SaansMed text-7xl leading-16;
  }

  .heading-5xl {
    @apply font-SaansMed text-5xl leading-14;
  }

  .nav-xl {
    @apply font-PPmedium text-xl;
  }

  .nav-2xl {
    @apply font-PPmedium text-2xl;
  }

  .p-4xl-medium {
    @apply font-SaansMed text-4xl leading-14;
  }

  .p-3xl-regular {
    @apply font-SaansRegular text-3xl leading-13;
  }

  .p-xl-medium {
    @apply font-SaansMed text-xl leading-12;
  }

  .p-3xl {
    @apply font-SaansRegular text-xl leading-12;
  }

  .studio {
    @apply bg-gradient-to-b from-[#000] to-[#292929];
  }

  .t1 {
    @apply relative left-0 right-0;
  }

  .t2 {
    @apply sticky bottom-0 left-0 right-0 top-[-20vh] md:top-[-10vh];
  }

  @media (max-width: 1440px) {
    .t2 {
      top: -20vh;
    }
  }

  .t3 {
    @apply relative left-0 right-0 mt-[224.8rem];
  }
}

.studio-layer {
  background-color: rgba(33, 33, 33, 0.6);
}

.backdrop-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: rotateX(0deg) rotateZ(0deg); /* Keep flat in 2D */
  backdrop-filter: blur(22.5px); /* Apply filter */
}

.shadow-layer {
  filter: drop-shadow(0px 40px 80px #141414);
}

.bg-nav {
  background-image: url('../images/bg.svg');
  background-repeat: no-repeat;
  background-size: 340px;
  background-origin: border-box;
}

.heading_animate {
  transition: 0.3s ease-in-out;
}

.text_animate {
  transition: 0.3s ease-in-out;
  transform-origin: center;
}

::selection {
  background: #a28cc6;
  color: white;
}

hr {
  background-color: #333333;
  height: 1px;
  border: 0;
}
