@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #151414;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'FKGroteskTrial-Regular';
  src:
    local('FKGroteskTrial-Regular'),
    local('FKGroteskTrial-Regular'),
    url('../fonts/FKGroteskTrial-Regular.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Medium';
  src:
    local('FKGroteskTrial-Medium'),
    local('FKGroteskTrial-Medium'),
    url('../fonts/FKGroteskTrial-Medium.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Light';
  src:
    local('FKGroteskTrial-Light'),
    local('FKGroteskTrial-Light'),
    url('../fonts/FKGroteskTrial-Light.otf') format('otf');
}

.threeD {
  transform: rotateX(55deg) rotateY(0) rotateZ(45deg) scale3d(1, 1, 1);
}

.animate {
  animation: threeDAnimate;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */

  animation-name: threeDAnimate;
  -webkit-animation-name: threeDAnimate;
  -webkit-animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes threeDAnimate {
  to {
    transform: rotateX(0) rotateY(0) rotateZ(0);
    top: 0;
  }
}

.bg-alpha {
  background: rgba(37, 36, 36, 1);
}

@layer components {
  .base {
    @apply border;
    @apply border-[#151414];
  }

  .labs {
    @apply border-y-2 border-y-[#666666];
  }

  .labs-left {
    @apply border-y-2 border-l-2 border-y-[#666666] border-l-[#666666];
  }

  .labs-right {
    @apply border-y-2 border-r-2 border-y-[#666666] border-r-[#666666];
  }

  .arcs {
    @apply border-x-2 border-x-[#666666];
  }

  .arcs-top {
    @apply border-t-2 border-t-[#666666];
  }

  .arcs-bottom {
    @apply border-b-2 border-b-[#666666];
  }

  .studio {
    @apply border-4 border-[#666666] opacity-70;
  }

  .t2 {
    @apply sticky top-[20%];
  }

  .t1 {
    @apply relative;
  }

  .t3 {
    @apply relative top-[30rem];
  }
}

.capability-bg {
  background: rgb(63, 59, 45);
  background: linear-gradient(
    90deg,
    rgba(63, 59, 45, 1) 0%,
    rgba(81, 88, 79, 1) 20%,
    rgba(72, 83, 67, 1) 40%,
    rgba(65, 71, 80, 1) 60%,
    rgba(49, 35, 45, 1) 80%,
    rgba(69, 69, 69, 1) 100%
  );
}
