@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #111112;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

button:hover,
button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'SaansTRIAL-Medium';
  src:
    local('SaansTRIAL-Medium'),
    url('../fonts/SaansTRIAL-Medium.woff') format('woff');
}

@font-face {
  font-family: 'SaansTRIAL-Medium';
  src:
    local('SaansTRIAL-Medium'),
    url('../fonts/SaansTRIAL-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SaansTRIAL-Regular';
  src:
    local('SaansTRIAL-Regular'),
    url('../fonts/SaansTRIAL-Regular.woff') format('woff');
}

@font-face {
  font-family: 'SaansTRIAL-Regular';
  src:
    local('SaansTRIAL-Regular'),
    url('../fonts/SaansTRIAL-Regular.woff2') format('woff2');
}

.bg-alpha {
  background: rgba(37, 36, 36, 1);
}

@layer components {
  .global-margin {
    @apply container mx-auto max-w-[1200px] overflow-x-hidden px-5 sm:overflow-x-visible md:px-0;
  }

  .heading-7xl {
    @apply font-SaansRegular text-7xl leading-16;
  }

  .heading-4xl {
    @apply font-SaansRegular text-4xl leading-13;
  }

  .heading-5xl-Reg {
    @apply font-SaansRegular text-5xl leading-14;
  }

  .nav-xl {
    @apply font-SaansRegular text-xl leading-[1.2em];
  }

  .nav-2xl {
    @apply font-SaansMed text-2xl;
  }

  .p-4xl-medium {
    @apply font-SaansMed text-4xl leading-14;
  }

  .p-3xl-regular {
    @apply font-SaansRegular text-3xl leading-13;
  }

  .p-xl-regular {
    @apply font-SaansRegular text-xl leading-[1.6em];
  }

  .p-xl-medium {
    @apply font-SaansMed text-xl leading-12;
  }

  .p-lg-regular {
    @apply font-SaansRegular text-lg leading-12;
  }

  .p-3xl {
    @apply font-SaansRegular text-xl leading-12;
  }

  .p-body2 {
    @apply font-SaansRegular text-[20.12px] leading-[29.99px];
  }

  .studio {
    @apply bg-gradient-to-b from-[#000] to-[#292929];
  }

  .t1 {
    @apply relative -mt-24;
  }

  .t2 {
    @apply sticky -mt-24;
    top: calc(50% - 500px);
  }

  .t3 {
    @apply relative mt-[233rem];
  }
}

.studio-layer {
  background-color: rgba(33, 33, 33, 0.6);
}

.backdrop-div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); /* Keep flat in 2D */
  backdrop-filter: blur(22.5px); /* Apply filter */
}

.shadow-layer {
  filter: drop-shadow(0px 40px 80px rgba(17, 17, 18, 0.9));
}

.heading_animate {
  transition: 0.3s ease-in-out;
}

.text_animate {
  transition: 0.3s ease-in-out;
  transform-origin: center;
}

::selection {
  background: #a28cc6;
  color: white;
}

hr {
  background-color: #333333;
  height: 1px;
  border: 0;
}

.shadow-footer {
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
}

.rotatae90 {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  white-space: nowrap;
  overflow: hidden;
}

.imagecarousel {
  position: relative;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

/* Optional styling for images inside */
.imagecarousel .img {
  width: 100%;
  display: block;
}

.img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.imagecarousel .img:not(:first-child) {
  margin-left: -100%;
}

.imagecarousel .img:first-child {
  -webkit-animation: slide 5s infinite alternate;
  animation: slide 5s infinite alternate;
  -o-animation: slide 5s infinite alternate;
  -moz-animation: slide 5s infinite alternate;
  
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@-moz-keyframes slide {
  0% {
    -moz-transform: translateX(0);
  }
  100% {
    -moz-transform: translateX(-100%);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  background: url(data:;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAABl0RVh0U29mdHdhcmUAUGFpbnQuTkVUIHYzLjUuNUmK/OAAAAATSURBVBhXY2RgYNgHxGAAYuwDAA78AjwwRoQYAAAAAElFTkSuQmCC)
    repeat scroll transparent\9; /* ie fallback png background image */
  z-index: 9999;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1.3s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


  @media (min-width: 810px) and (max-width: 1070px) {
    .matirx-break {
      @apply grid grid-cols-1 justify-items-center h-[550vh];
    }

    .matirx-justify{
      @apply justify-self-center;
    }

    .side-display{
    @apply hidden;
    }

    .logo-w{
      @apply w-full;
    }

    .nav-btn {
      @apply flex;
    }
  }

  @media (min-width: 1070px) {
    .matirx-break {
      @apply grid grid-cols-12;
    }
    .matirx-justify{
      @apply justify-self-end;
    }

    .side-display{
      @apply block;
      }

      .logo-w{
        @apply w-auto;
      }
      .nav-btn {
        @apply hidden;
      }
  }

  @media (max-width: 810px) {
    .side-display{
      @apply hidden;
      }
      .logo-w{
        @apply w-full;
      }
      .nav-btn {
        @apply hidden;
      }
  }