@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #151414;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'FKGroteskTrial-Regular';
  src:
    local('FKGroteskTrial-Regular'),
    local('FKGroteskTrial-Regular'),
    url('../fonts/FKGroteskTrial-Regular.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Medium';
  src:
    local('FKGroteskTrial-Medium'),
    local('FKGroteskTrial-Medium'),
    url('../fonts/FKGroteskTrial-Medium.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Light';
  src:
    local('FKGroteskTrial-Light'),
    local('FKGroteskTrial-Light'),
    url('../fonts/FKGroteskTrial-Light.otf') format('otf');
}

.threeD {
  transform: rotateX(60deg) rotateY(0) rotateZ(6deg) skew(60deg, -60deg)
    scale3d(0.5, 0.5, 1);
}

.animate {
  animation: threeDAnimate;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
}

@keyframes threeDAnimate {
  20% {
    transform: rotateX(58deg) rotateY(0) rotateZ(5deg) skew(58deg, -58deg);
    opacity: 1;
  }
  40% {
    transform: rotateX(48deg) rotateY(0) rotateZ(4deg) skew(50deg, -50deg)
      scale3d(0.6, 0.6, 0.8);
    opacity: 1;
  }
  60% {
    transform: rotateX(20deg) rotateY(0) rotateZ(2deg) skew(20deg, -20deg)
      scale3d(0.8, 0.8, 0.4);
    opacity: 0.4;
  }
  100% {
    transform: rotateX(0) rotateY(0) rotateZ(0) skew(0) scale3d(1, 1, 0);
    opacity: 0;
  }
}

.animateLayer2 {
  animation: threeDAnimateLayer2;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
}

@keyframes threeDAnimateLayer2 {
  40% {
    transform: rotateX(50deg) rotateY(0) rotateZ(4deg) skew(50deg, -50deg)
      scale3d(0.6, 0.6, 0.8);
    opacity: 0.4;
  }
  60% {
    transform: rotateX(20deg) rotateY(0) rotateZ(2deg) skew(20deg, -20deg)
      scale3d(0.8, 0.8, 0.4);
    opacity: 0.2;
  }
  100% {
    transform: rotateX(0) rotateY(0) rotateZ(0) skew(0) scale3d(1, 1, 0);
    opacity: 0;
  }
}

.animateLayer3 {
  animation: threeDAnimateLayer3;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
}

@keyframes threeDAnimateLayer3 {
  40% {
    transform: rotateX(50deg) rotateY(0) rotateZ(4deg) skew(50deg, -50deg)
      scale3d(0.6, 0.6, 0.8);
    opacity: 0.6;
    top: 10px;
  }
  60% {
    transform: rotateX(20deg) rotateY(0) rotateZ(2deg) skew(20deg, -20deg)
      scale3d(0.8, 0.8, 0.4);
    opacity: 0.4;
    top: 0;
  }
  100% {
    transform: rotateX(0) rotateY(0) rotateZ(0) skew(0) scale3d(1, 1, 0);
    opacity: 0;
    top: 0;
  }
}

.animateLayer4 {
  animation: threeDAnimateLayer4;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
}

@keyframes threeDAnimateLayer4 {
  40% {
    transform: rotateX(50deg) rotateY(0) rotateZ(4deg) skew(50deg, -50deg)
      scale3d(0.6, 0.6, 0.8);
    opacity: 0.2;
    top: 30px;
  }
  60% {
    transform: rotateX(20deg) rotateY(0) rotateZ(2deg) skew(20deg, -20deg)
      scale3d(0.8, 0.8, 0.4);
    opacity: 0.1;
    top: 20px;
  }
  100% {
    transform: rotateX(0) rotateY(0) rotateZ(0) skew(0) scale3d(1, 1, 0);
    opacity: 0;
    top: 0;
  }
}

.animate2DLayer {
  animation: twoDAnimateLayer;
  animation-duration: 1ms; /* Firefox requires this to apply the animation */
  animation-direction: alternate;
  animation-timeline: scroll(block nearest);
}

@keyframes twoDAnimateLayer {
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.bg-alpha {
  background: rgba(37, 36, 36, 1);
}

@layer components {
  .base {
    @apply border;
    @apply border-[#151414];
  }

  .labs {
    @apply border-y-2 border-y-[#666666];
  }

  .labs-left {
    @apply border-y-2 border-l-2 border-y-[#666666] border-l-[#666666];
  }

  .labs-right {
    @apply border-y-2 border-r-2 border-y-[#666666] border-r-[#666666];
  }

  .arcs {
    @apply border-x-2 border-x-[#666666];
  }

  .arcs-top {
    @apply border-t-2 border-t-[#666666];
  }

  .arcs-bottom {
    @apply border-b-2 border-b-[#666666];
  }

  .studio {
    @apply border-4 border-[#666666] opacity-70;
  }

  .t2 {
    @apply sticky top-[20%];
  }

  .t1 {
    @apply relative;
  }
}

.capability-bg {
  background: rgb(63, 59, 45);
  background: linear-gradient(
    90deg,
    rgba(63, 59, 45, 1) 0%,
    rgba(81, 88, 79, 1) 20%,
    rgba(72, 83, 67, 1) 40%,
    rgba(65, 71, 80, 1) 60%,
    rgba(49, 35, 45, 1) 80%,
    rgba(69, 69, 69, 1) 100%
  );
}
