@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #161617;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  outline: none;
}

button:hover,
button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: 'FKGroteskTrial-Regular';
  src:
    local('FKGroteskTrial-Regular'),
    url('../fonts/FKGroteskTrial-Regular.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Medium';
  src:
    local('FKGroteskTrial-Medium'),
    url('../fonts/FKGroteskTrial-Medium.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Light';
  src:
    local('FKGroteskTrial-Light'),
    url('../fonts/FKGroteskTrial-Light.otf') format('otf');
}

@font-face {
  font-family: 'PPNeueMontreal-Book';
  src:
    local('PPNeueMontreal-Book'),
    url('../fonts/PPNeueMontreal-Book.otf') format('otf');
}

@font-face {
  font-family: 'FKGroteskTrial-Light';
  src:
    local('PPNeueMontreal-Medium'),
    url('../fonts/PPNeueMontreal-Medium.otf') format('otf');
}

.bg-alpha {
  background: rgba(37, 36, 36, 1);
}

@layer components {
  .global-margin {
    @apply max-w-[1280px];

    @apply sm:mx-auto;
  }

  .heading-7xl {
    @apply font-PPbook text-7xl leading-16;
  }

  .heading-5xl {
    @apply font-PPbook text-5xl leading-14;
  }

  .nav-xl {
    @apply font-PPmedium text-xl;
  }

  .nav-2xl {
    @apply font-PPmedium text-2xl;
  }

  .p-4xl-medium {
    @apply font-PPmedium text-4xl leading-14;
  }

  .p-4xl-regular {
    @apply font-FKregular text-4xl leading-14;
  }

  .p-3xl {
    @apply font-PPbook text-3xl leading-13;
  }

  .arcs-left {
    @apply bg-[#595959] !important;
    @apply transition duration-300 ease-in;
  }

  .labs-top {
    @apply bg-[#595959] !important;
    @apply transition duration-300 ease-in;
  }

  .studio {
    @apply bg-gradient-to-b from-[#000] to-[#292929];
  }

  .t1 {
    @apply relative left-0 right-0;
  }

  .t2 {
    @apply sticky bottom-0 left-0 right-0 top-[-10vh];
  }

  .t3 {
    @apply relative left-0 right-0 mt-[220rem];
  }
}

.studio-layer {
  background-color: rgba(33, 33, 33, 0.6);
}

.shadow-layer {
  filter: drop-shadow(0px 40px 80px #141414);
}

div.vertical-line {
  width: 1px; /* Line width */
  background-color: #595959; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  float: right; /* Causes the line to float to left of content. 
    You can instead use position:absolute or display:inline-block
    if this fits better with your design */
  margin-right: 5%;
  margin-top: 5px;
}

div.vertical-line2 {
  width: 1px; /* Line width */
  background-color: #595959; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  margin: auto;
}

hr {
  background-color: #595959;
  height: 1px;
  border: 0;
  width: 420%;
  margin-left: 20px;
}

.bg-nav {
  background-image: url('../images/bg.svg');
  background-repeat: no-repeat;
  background-size: 340px;
  background-origin: border-box;
}

.heading_animate {
  transition: 0.2s ease-in-out;
}

.text_animate {
  transition: 0.2s ease-in-out;
  transform-origin: center;
}
